.text-center {
  text-align: center;
}

.owner-content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profile-pic {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-right: 0;
}
