---
title: Le Wagon - Middleman
---

<div class="banner">
  <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p>
    <%= link_to "Start Now", "", class: "btn btn-danger btn-lg" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
          <% link_to "", class: "card-link" do %>
            <%= image_tag 'https://kitt.lewagon.com/placeholder/users/lu-hamani', class: "card-user" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
